<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script type="text/javascript" src="/javascripts/enchant.js"></script>
     <script type="text/javascript" src="/javascripts/main.js"></script>
     <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #game{
            width: 800px;
            margin:0 auto 0 auto;
        }

        #status {
          display: none;
        }

    </style>
  </head>
  <body>
    <p id="name">名前:<%= displayName %></p>
    <p id="status"><%= status %></p>
    <div id="game">
　   <div id="enchant-stage"></div>
    </div>
  </body>
</html>