<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script type="text/javascript" src="/socket.io/socket.io.js"></script>
     <script type="text/javascript" src="/javascripts/enchant.js"></script>
     <script type="text/javascript" src="/javascripts/main.js"></script>
     <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #game{
            width: 800px;
            margin:0 auto 0 auto;
        }

        a {
          font-size: 20px;
        }

        #logout {
            margin: 20px;
            display: inline;
        }

        #name {
          display: none;
        }
        #status {
          display: none;
        }
        #uid {
          display: none;
        }

    </style>
  </head>
  <body>
    <p id="name"><%= displayName %></p>
    <p id="status"><%= status %></p>
    <p id="uid"><%= uid %></p>
    <p id="logout"><a href="/logout">Logout</a></p>
    <div id="game">
　   <div id="enchant-stage"></div>
    </div>
  </body>
</html>