<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #game{
            width: 800px;
            margin:0 auto 0 auto;
        }

    </style>
  </head>
  <body>
    <a href="/auth/google">START!</a>
    <a href="/logout">Logout</a>
  </body>
</html>
